
nav{
    width:100%;
    text-align:center;
    height:66px; /* the same width as the logo to prevent overlap */
    }
    nav > a {
    display:inline-block;
    }
    #logo {
    float:left;
    width:80px;
    height:66px;
    }
    #logo::after {
    clear:both; /*clears the floating element space.*/
    }
    
    form {
        width: 50%; /* You can adjust the width as needed */
        margin: auto; /* Center the form horizontally */
        text-align: left;
        margin-top: 20px; /* Add margin at the top */
    }
    
    input {
        margin: 10px;
    }
    
    select {
        margin: 10px;
    }
    
    body {
        margin:0;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 10;
        overflow: hidden;
        text-align: center;
        background-color:crimson;
        
    }
    
    ul li {
        display: inline-block;
        float: none;
        
    }
    
    li a{
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
        color:ghostwhite;
    }
    
    li a:hover{
        background-color:ghostwhite;
        color: crimson;
    }
    
    /*.active{
        background-color:ghostwhite;
        color: crimson;
    }*/
    